PORT=3000
SUPABASE_URL=https://svaatulswpsiluspidrn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN2YWF0dWxzd3BzaWx1c3BpZHJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyMzE4NzEsImV4cCI6MjA5NDgwNzg3MX0.aEuUf80AXJ0MtDGSWqzCeQrmWUIAiXLaJn0WExYDxTY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN2YWF0dWxzd3BzaWx1c3BpZHJuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTIzMTg3MSwiZXhwIjoyMDk0ODA3ODcxfQ.p1vt9sv2M9wPm6GZg7f-z-eBkcL5T29xTUPtAiBfokg
SUPABASE_STORAGE_BUCKET=videos
APP_BASE_URL=http://localhost:3000
